body {
  margin: 0;
}

.wrapper {
  width: 100%;
  margin-top: 55px;
  margin: 0;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 943px) {
  .wrapper {
    width: fit-content;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 942px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 399px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.web-header {
  line-height: 55px;
}

@media screen and (max-width: 942px) {
  .web-header {
    display: none;
  }
}

.web-header img {
  line-height: 55px;
}

.web-header nav {
  float: right;
  line-height: 55px;
  margin-right: 20px;
}

.web-header nav ul {
  margin: 0;
}

.web-header nav ul li {
  float: left;
  list-style-type: none;
  font-size: 18px;
  width: 150px;
  text-align: center;
  text-align: -webkit-center;
}

.web-header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  opacity: 1.1;
}

.web-header nav ul li a::after {
  border-bottom: solid 6px #e9e9e9;
  bottom: 0;
  content: "";
  display: block;
  transition: all 0.3s ease;
  width: 0;
}

.web-header nav ul li a:hover::after {
  width: 100%;
}

@media screen and (min-width: 943px) {
  #header {
    display: none;
  }
}

[v-cloak] {
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  background: #353535e6;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

@media screen and (min-width: 943px) {
  header {
    background: #353535e6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
}

.menu_btn {
  width: 8vw;
  max-width: 60px;
  max-height: 60px;
  padding: 2% 0;
  padding: 10px;
  line-height: 80px;
  cursor: pointer;
  background: #1a1a1a;
}

.menu_btn .menu_trigger {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 30px;
}

.menu_btn .menu_trigger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  border-radius: 2px;
  transition: all 0.4s;
}

.menu_btn .menu_trigger span:nth-of-type(1) {
  top: 0;
}

.menu_btn .menu_trigger span:nth-of-type(2) {
  top: calc(50% - 1px);
}

.menu_btn .menu_trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu_btn.open_ .menu_trigger span:nth-of-type(1) {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}

.menu_btn.open_ .menu_trigger span:nth-of-type(2) {
  opacity: 0;
}

.menu_btn.open_ .menu_trigger span:nth-of-type(3) {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}

#sp_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 40px 0;
  background: #353535e6;
  transition: all 0.5s;
  color: #fff;
}

#sp_menu.v-enter, #sp_menu.v-leave-to {
  opacity: 0;
}

#sp_menu .menu_wrapp {
  margin-top: 10px;
}

#sp_menu .menu-list {
  text-align: center;
  padding: 0;
}

#sp_menu li {
  border: 3px dotted #fd9205;
  text-shadow: 1px 1px 1px #ff9800, -1px 1px 1px #ff9800, 1px -1px 1px #ff9800, -1px -1px 1px #ff9800, 1px 1px 1px #ff9800, -1px 1px 1px #ff9800, 1px -1px 1px #ff9800, -1px -1px 1px #ff9800;
  height: 80px;
  line-height: 80px;
  background: -webkit-repeating-linear-gradient(-45deg, #ffdfc5, #ffdfc5 5px, #f8f3ee 5px, #f8f3ee 10px);
  background: repeating-linear-gradient(-45deg, #ffdfc5, #ffdfc5 5px, #f8f3ee 5px, #f8f3ee 10px);
  color: #724007;
  font-size: 20px;
  list-style-type: none;
}

#sp_menu li + li {
  margin-top: 10px;
}

#sp_menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  opacity: 1.1;
}

#return-top {
  background-color: #fd8d24;
  border-radius: 50%;
  bottom: 50px;
  color: #fff;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  outline: 0;
  position: fixed;
  right: 5px;
  text-align: center;
  width: 50px;
  text-decoration: none;
}

.top-image {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-image: url(../../img/images.jpg);
}

@media screen and (max-width: 399px) {
  .top-image {
    height: 200px;
  }
}

.container {
  text-align: center;
  text-align: -webkit-center;
}

.pageMap {
  float: right;
}

@media screen and (max-width: 399px) {
  .pageMap {
    float: none;
  }
}

.diary_block {
  clear: both;
  display: block;
  margin: 20px 0;
  border-bottom: 1px dotted #aaa;
  padding: 10px;
  background: #ffffff;
}

@media screen and (max-width: 399px) {
  .diary_block {
    padding: 15px;
    clear: both;
    border-bottom: none;
    background: #fff6ef;
    box-shadow: 2px 2px 3px #aaa;
  }
}

@media screen and (max-width: 942px) {
  .diary_block {
    padding: 15px;
    clear: both;
    border-bottom: none;
    background: #fff6ef;
    box-shadow: 3px 1px 3px #aaa;
  }
}

.diary_block .block_element_head {
  text-align: left;
  width: 200px;
  display: table-cell;
  padding: 10px;
  border-right: 1px solid #aaa;
  font-weight: 700;
}

@media screen and (max-width: 399px) {
  .diary_block .block_element_head {
    text-align: center;
    padding: 0px;
    border-right: 0;
    border-bottom: 1px solid #aaa;
    display: block;
  }
}

@media screen and (max-width: 942px) {
  .diary_block .block_element_head {
    text-align: center;
    padding: 0px;
    border-right: 0;
    border-bottom: 1px solid #aaa;
    display: block;
  }
}

.diary_block .block_element_post {
  display: table-cell;
  width: 430px;
  padding: 10px;
  border-right: 1px solid #aaa;
}

@media screen and (max-width: 399px) {
  .diary_block .block_element_post {
    padding: 20px 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
    text-align: left;
    height: auto;
  }
}

@media screen and (max-width: 942px) {
  .diary_block .block_element_post {
    padding: 20px 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
    text-align: left;
    height: auto;
  }
}

.diary_block .block_element_time {
  width: 100px;
  text-align: right;
  display: table-cell;
  padding: 10px;
  font-size: 13px;
  color: darkgrey;
}

@media screen and (max-width: 399px) {
  .diary_block .block_element_time {
    text-align: center;
    padding: 10px 0;
    border-right: 0;
    display: block;
  }
}

@media screen and (max-width: 942px) {
  .diary_block .block_element_time {
    text-align: center;
    padding: 10px 0;
    border-right: 0;
    display: block;
  }
}

.diary_block .block_element_detail {
  width: 120px;
  text-align: right;
  display: table-cell;
  padding: 10px;
  font-size: 13px;
  color: darkgrey;
}

@media screen and (max-width: 399px) {
  .diary_block .block_element_detail {
    text-align: center;
    padding: 10px 0;
    display: block;
  }
}

@media screen and (max-width: 942px) {
  .diary_block .block_element_detail {
    text-align: center;
    padding: 10px 0;
    display: block;
  }
}

.page-nation {
  text-align: center;
  display: block;
  height: auto;
  padding: 10px;
}

.page-nation a {
  padding: 5px 15px;
  border-radius: 6px;
  text-decoration: none;
}

.page-nation .pre {
  text-align: center;
  background: #008d5e;
  margin-right: 15px;
  color: aliceblue;
}

.page-nation .pre:hover {
  opacity: 0.8;
}

.page-nation .next {
  background: #c86f09;
  color: aliceblue;
}

.page-nation .next:hover {
  opacity: 0.8;
}

.latest_page {
  display: block;
  text-align: center;
  height: auto;
  padding: 10px;
}

.latest_page a {
  padding: 5px 15px;
  border-radius: 6px;
  text-decoration: none;
}

.latest_page .latest {
  border: 1px solid #ccc;
  color: #4b4b4b;
}

.latest_page .latest:hover {
  opacity: 0.8;
}

.post_info {
  margin: 0 auto;
  width: 600px;
}

@media screen and (max-width: 399px) {
  .post_info {
    margin-top: 8px;
    width: 300px;
  }
}

.post_info .detail_block_element_head,
.post_info .detail_block_element_time {
  text-align: right;
  font-size: 14px;
  color: #494949;
}

.detail_diary_block {
  background: #fffafa;
  padding: 20px;
  margin: 0 auto;
  height: 300px;
  width: 600px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px #858585;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

@media screen and (max-width: 399px) {
  .detail_diary_block {
    margin-top: 8px;
    width: 260px;
  }
}

.back_area {
  width: 147px;
  margin: 0 auto;
}

.back_area .back {
  text-decoration: none;
  width: 100px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  color: #3d3d3d;
  transition: 1s ease-in-out;
}

.page-nation {
  clear: both;
}

.page-nation .non_page {
  color: #525252;
  margin-right: 10px;
}

.page-nation .non_page + .non_page {
  margin-left: 10px;
}

.post_name {
  margin: 5px 0;
}

footer {
  margin-right: -40px;
  width: 100%;
  margin-top: 50px;
  color: #ddd;
  padding-top: 8px;
  height: 60px;
  background: #444444;
  text-align: center;
  text-align: -webkit-center;
}
