.top-image {
  @include top-image();
  background-image: url(../../img/images.jpg);
}

.container {
  @include text-center();
}

.pageMap {
  float: right;
  @include mq-down(sm) {
    float: none;
  }
}
$mq-card-color: #fff6ef;
$card-color: #ffffff;
.diary_block {
  clear: both;
  display: block;
  margin: 20px 0;
  border-bottom: 1px dotted #aaa;
  padding: 10px;
  background: $card-color;
  @include mq-down(sm) {
    padding: 15px;
    clear: both;
    border-bottom: none;
    background: $mq-card-color;
    box-shadow: 2px 2px 3px #aaa;
  }
  @include mq-down(md) {
    padding: 15px;
    clear: both;
    border-bottom: none;
    background: $mq-card-color;
    box-shadow: 3px 1px 3px #aaa;
  }
  .block_element_head {
    text-align: left;
    width: 200px;
    display: table-cell;
    padding: 10px;
    border-right: 1px solid #aaa;
    font-weight: 700;
    @include mq-down(sm) {
      text-align: center;
      padding: 0px;
      border-right: 0;
      border-bottom: 1px solid #aaa;
      display: block;
    }
    @include mq-down(md) {
      text-align: center;
      padding: 0px;
      border-right: 0;
      border-bottom: 1px solid #aaa;
      display: block;
    }
  }
  .block_element_post {
    display: table-cell;
    width: 430px;
    padding: 10px;
    border-right: 1px solid #aaa;
    @include mq-down(sm) {
      padding: 20px 0;
      border-right: 0;
      border-bottom: 1px solid #aaa;
      text-align: left;
      height: auto;
    }
    @include mq-down(md) {
      padding: 20px 0;
      border-right: 0;
      border-bottom: 1px solid #aaa;
      text-align: left;
      height: auto;
    }
  }
  .block_element_time {
    width: 100px;
    text-align: right;
    display: table-cell;
    padding: 10px;
    font-size: 13px;
    color: darkgrey;
    @include mq-down(sm) {
      text-align: center;
      padding: 10px 0;
      border-right: 0;
      display: block;
    }
    @include mq-down(md) {
      text-align: center;
      padding: 10px 0;
      border-right: 0;
      display: block;
    }
  }
  .block_element_detail {
    width: 120px;
    text-align: right;
    display: table-cell;
    padding: 10px;
    font-size: 13px;
    color: darkgrey;
    @include mq-down(sm) {
      text-align: center;

      padding: 10px 0;
      display: block;
    }
    @include mq-down(md) {
      text-align: center;

      padding: 10px 0;
      display: block;
    }
  }
}

.page-nation {
  text-align: center;
  display: block;
  height: auto;
  padding: 10px;
  a {
    padding: 5px 15px;
    @include round6();
    text-decoration: none;
  }
  .pre {
    text-align: center;
    background: #008d5e;
    margin-right: 15px;
    color: aliceblue;
    &:hover {
      opacity: 0.8;
    }
  }
  .next {
    background: #c86f09;
    color: aliceblue;
    &:hover {
      opacity: 0.8;
    }
  }
}
.latest_page {
  display: block;
  text-align: center;
  height: auto;
  padding: 10px;

  a {
    padding: 5px 15px;
    @include round6();
    text-decoration: none;
  }

  .latest {
    border: 1px solid #ccc;
    color: #4b4b4b;
    &:hover {
      opacity: 0.8;
    }
  }
}

//記事の詳細画面
.post_info {
  margin: 0 auto;
  width: 600px;
  @include mq-down(sm) {
    margin-top: 8px;
    width: 300px;
  }
  .detail_block_element_head,
  .detail_block_element_time {
    text-align: right;
    font-size: 14px;
    color: #494949;
  }
}

.detail_diary_block {
  background: #fffafa;
  padding: 20px;
  margin: 0 auto;
  height: 300px;
  width: 600px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px #858585;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  @include mq-down(sm) {
    margin-top: 8px;
    width: 260px;
  }
}
.back_area {
  width: 147px;
  margin: 0 auto;
  .back {
    text-decoration: none;
    width: 100px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    color: #3d3d3d;
    transition: 1s ease-in-out;
  }
}

.page-nation {
  clear: both;
  .non_page {
    color: #525252;
    margin-right: 10px;
    & + .non_page {
      margin-left: 10px;
    }
  }
}
// 投稿者と日付の間の余白調整
.post_name {
  margin: 5px 0;
}
