.top-image {
  @include top-image();
  background-image: url(../../img/images.jpg);
}

.container {
  @include text-center();
}

// memberコンテンツ
$ad-left: 10px;
.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .content_box {
    background-color: #ffffff;
    @include round6();
    margin-top: 30px;
    width: 400px - $ad-left;
    @include mq-down(md) {
      flex: 2;
    }
    img {
      border: 5px dotted #f37702;
      box-shadow: 0px 0px 9px 2px #dcbdb4;
      background-image: url();
      border-radius: 50%;
      height: 300px;
      width: 300px;
      background-color: #ffd27f;
    }

    section {
      display: block;
      // background-color: beige;
      padding: 20px 0;
      @include round6();
      .member_box {
        p {
          margin: 8px 0;
        }
      }
    }
  }
}
