// .top-image {
//   margin-top: 120px;
// }

#return-top {
  display: none;
}

/*
ボックスの分割
横並びにする。

*/
// 共通変数
$displayWidth: 550px;
$smallWidth: 280px;
.area_box {
  display: flex;
  @include mq-down(sm) {
    display: block;
  }
  @include mq-down(md) {
    display: block;
  }
  .post-area {
    flex: 1;
    width: $displayWidth;
    margin: 0 auto;
    @include mq-down(sm) {
      width: $smallWidth;
      margin: 0 auto;
    }
    textarea {
      margin-bottom: 15px;
      @include round6();
      padding: 8px;
      border: 1px solid #ccc;
      width: $displayWidth;
      @include mq-down(sm) {
        width: $smallWidth;
      }
    }
    .submit {
      margin-bottom: 120px;
      width: $displayWidth;
      text-align: center;
      margin-bottom: 60px;
      input[type="submit"] {
        cursor: pointer;
        background: coral;
        width: 150px;
        height: 40px;
        @include round6();
        color: #f1f1f1;
        border: 0;
        box-shadow: 0 0 8px #ffb1b1;
        margin: 0 auto;
        font-size: 16px;
        &:hover {
          opacity: 0.8;
        }
      }
      @include mq-down(sm) {
        width: $smallWidth;
      }
    }
  }
  // 投稿一覧のスタイル
  .article_area {
    width: $displayWidth;
    height: auto;
    padding: 10px;
    @include round6();
    border: 1px solid #ccc;
    margin: 0 auto;
    @include mq-down(sm) {
      width: $smallWidth;
    }
    ul {
      padding: 0;

      li {
        margin: 10px 0;
        list-style: none;
        display: flex;
        border-bottom: 1px solid #ececec;
        padding: 5px;
        @include round6();
        @include mq-down(sm) {
          display: block;
        }
        &:hover {
          opacity: 0.8;
          background: #e7e7e7;
        }
        p {
          margin: 0;
          width: 250px;
          text-align: left;
          .post_head {
          }
        }
        time {
          margin-right: 20px;
          a {
            color: #757575;
            opacity: 0.8;
            &:hover {
              opacity: 1;
              color: #363636;
            }
          }
          @include mq-down(sm) {
            font-size: 14px;
          }
        }
        .del {
          width: auto;
          height: auto;
          padding: 0 5px;
          background: #ffffff;
          border: 1px solid #ccc;
          color: #525252;
          @include round6();
          text-align: center;
          text-decoration: none;
          &:hover {
            background: #d6d6d6;
            border: 1px solid #6e6e6e;
          }
        }
      }
    }
  }
}

.page-nation {
  clear: both;
}

.edit {
  font-size: 12px;
  color: #ff6a6a;
  margin: 0;
}
// ページネーションはdiary_main.scssを参照している
