<div class="wrapper">
  {include file="./header.html"}
  <div class="container">
    <div class="main-contents">
      <h1 class="content-title">{$head}</h1>
      <p class="sub_message">{$sub_message|nl2br}</p>
    </div>
    <div class="form_card">
      <form action="" method="post">
        <input type="hidden" name="action" />
        <dl>
          <dt>ユーザー名</dt>
          <dd>{$conf_name}</dd>
          <dt>メールアドレス</dt>
          <dd>{$conf_email}</dd>
          <dt>パスワード</dt>
          <dd>{$conf_pass}</dd>
          <dt>アイコン画像</dt>
          <dd>
            <img
              src="./member_picture/{$conf_image}"
              alt=""
              width="200px"
              height="200px"
            />
          </dd>
        </dl>
        <div class="entry_or_rewrite">
          <button type="submit" value="login">登録する</button>
          <a href="entry.php?action=rewrite">再度編集</a>
        </div>
      </form>
    </div>
  </div>
</div>
{include file="./footer.html"}
