<div id="q_form">
  <div class="q_email_form">
    <div>
      <h2 class="q_title">お問い合わせ</h2>
    </div>
    <div>
      <form
        action="./index.php"
        method="post"
        name="form"
        onsubmit="return validate()"
      >
        <p>
          お問い合わせ内容をご入力の上、「確認画面へ」ボタンをクリックしてください。<br />
          <span class="tip"
            >確認メールの受信をもって送信の完了となります。</span
          >
        </p>
        <p class="mail_result">{$success_send_mail}</p>
        <p class="mail_result">{$error_send_mail}</p>
        <div>
          <div class="form">
            <label>お名前<span>必須</span></label>
            <input
              type="text"
              name="name"
              placeholder="例）山田太郎"
              value=""
              required
            />
          </div>
          <div class="form">
            <label>ふりがな</label>
            <input
              type="text"
              name="furigana"
              placeholder="例）やまだたろう"
              value=""
            />
          </div>
          <div class="form">
            <label>メールアドレス<span>必須</span></label>
            <input
              type="email"
              name="email"
              placeholder="例）guest@example.com"
              value=""
              required
            />
          </div>
          <div class="form">
            <label>お問い合わせ項目<span>必須</span></label>
            <select name="item" required>
              <option value="">選択してください</option>
              <option value="体験入部希望">体験入部希望</option>
              <option value="質問・疑問">ご質問・疑問</option>
            </select>
          </div>
          <div class="form">
            <textarea
              name="content"
              rows="5"
              placeholder="お問合せ内容を入力　必須"
              required
            ></textarea>
          </div>
        </div>
        <div class="submit_form">
          <button type="submit">送信する</button>
        </div>
      </form>
    </div>
  </div>
</div>
