<div class="wrapper">
  {include file="./member_only_header.html"}
  <img class="top-image" />
  <div class="container">
    <div class="main-contents">
      <!-- <h3 class="content-title">ようこそ{$member_name}さん</h3> -->
      <p class="sub_message">{$sub_message|nl2br}</p>
    </div>
  </div>
  <div class="post_info">
    <div class="detail_block_element_head">
      <p class="post_name">投稿者：{$post['name']}</p>
    </div>
    <div class="detail_block_element_time">
      <time>{$post['created']}</time>
    </div>
  </div>
  <div class="detail_diary_block">
    <div class="detail_block_element_post">
      <p>{$post['message']|nl2br}</p>
    </div>
  </div>
  <div class="back_area">
    <a href="diary.php" class="back">記事の一覧へ戻る</a>
  </div>
</div>
{include file="./footer.html"}
