<div class="wrapper">
  {include file="./member_only_header.html"}
  <img class="top-image" />
  <div class="container">
    <div class="main-contents">
      <!-- <h3 class="content-title">ようこそ{$member_name}さん</h3> -->
      <p class="sub_message">{$sub_message|nl2br|escape:'html'}</p>
    </div>
    <div class="area_box">
      <div class="post-area">
        <form action="" method="post">
          <textarea
            name="message"
            id="message"
            cols="60"
            rows="20"
            required
          ></textarea>
          <div class="submit">
            <input type="submit" value="送信する" />
          </div>
          <input type="hidden" name="reply_message_id" value="3" />
        </form>
      </div>
      <div class="article_area">
        {$member_name|escape:'html'}さんの投稿記事の一覧
        <p class="edit">記事の編集は日付のリンクから遷移できます。</p>
        <ul>
          {foreach from=$myPosts item=post} {if $id === $myPost['member_id']}
          <li>
            <p class="post_head">
              {$post['message']|mb_substr:0:15|escape:'html'}...
            </p>
            <time
              ><a href="post_update.php?id={$post['id']|escape:'url'}"
                >{$post['created']}</a
              ></time
            >
            <a
              class="del"
              href="post_delete.php?id={$post['id']|escape:'url'}"
              onclick="return confirm('削除してよいですか');"
              >削除</a
            >
          </li>
          {/if} {/foreach}
        </ul>
        <div class="page-nation">
          {if $page > 1}
          <a href="post.php?page={$page-1}" class="pre">{$prePage}</a>
          {else}
          <span>{$prePage}</span>
          {/if} {if $page < $maxPage}
          <a href="post.php?page={$page+1}" class="next">{$nextPage}</a>
          {else}
          <span>{$nextPage}</span>
          {/if}
        </div>
        <div class="latest_page">
          {if $page > 1}
          <a href="post.php?page=1" class="latest">最新の記事へ</a>
          {/if}
        </div>
      </div>
    </div>
  </div>
</div>
{include file="./footer.html"}
