<div class="wrapper">
  {include file="./../header.html"}
  <img class="top-image" />
  <div class="container">
    <div class="main-contents">
      <h1 class="content-title">{$midashi}</h1>
      <p class="sub_message">{$sub_message|nl2br}</p>
      <p class="pageMap">1件から5件を表示</p>
      {foreach from=$posts item=post}
      <div class="diary_block">
        <div class="block_element_head">
          <p>{$post['name']}</p>
        </div>
        <div class="block_element_post">
          <p>{$post['message']|mb_substr:0:20}...</p>
        </div>
        <div class="block_element_detail">
          <a href="post_view.php?id={$post['id']}">記事の詳細へ</a>
        </div>
        <div class="block_element_time">
          <time>{$post['created']}</time>
        </div>
      </div>
      {/foreach}
      <div class="page-nation">
        {if $page > 1}
        <a href="diary.php?page={$page-1}" class="pre">{$prePage}</a>
        {else}
        <span>{$prePage}</span>
        {/if}
        {if $page < $maxPage}
        <a href="diary.php?page={$page+1}" class="next">{$nextPage}</a>
        {else}
        <span>{$nextPage}</span>
        {/if}
      </div>
      <div class="latest_page">
        {if $page > 1}
      <a href="diary.php?page=1" class="latest">最新の記事へ</a>
      {/if}
    </div>
    </div>
  </div>
</div>
{include file="./../footer.html"}
