<div class="wrapper">
  {include file="./../header.html"}
  <img class="top-image" />
  <div class="container">
    <div class="main-contents">
      <h1 class="content-title">{$midashi}</h1>
      <p class="sub_message">{$sub_message|nl2br}</p>
      <div class="members">
        <!-- ここから -->
        <div class="content_box">
          <img src="../../img/images.jpg" alt="メンバーのアイコン" />
          <section>
            <div class="member_box">
              <p>{$name}</p>
              <p>{$history}</p>
              <p>{$rp}</p>
              <p>{$os}</p>
              <p>{$comment}</p>
            </div>
          </section>
        </div>
        <!-- ここまでがプロフィール -->
        <!-- ここから -->
        <div class="content_box">
          <img src="../../img/content-image3.jpg" alt="メンバーのアイコン" />
          <section>
            <div class="member_box">
              <p>{$name}</p>
              <p>{$history}</p>
              <p>{$rp}</p>
              <p>{$os}</p>
              <p>{$comment}</p>
            </div>
          </section>
        </div>
        <!-- ここまでがプロフィール -->
        <!-- ここから -->
        <div class="content_box">
          <img src="../../img/content-image3.jpg" alt="メンバーのアイコン" />
          <section>
            <div class="member_box">
              <p>{$name}</p>
              <p>{$history}</p>
              <p>{$rp}</p>
              <p>{$os}</p>
              <p>{$comment}</p>
            </div>
          </section>
        </div>
        <!-- ここまでがプロフィール -->
        <!-- ここから -->
        <div class="content_box">
          <img src="../../img/content-image3.jpg" alt="メンバーのアイコン" />
          <section>
            <div class="member_box">
              <p>{$name}</p>
              <p>{$history}</p>
              <p>{$rp}</p>
              <p>{$os}</p>
              <p>{$comment}</p>
            </div>
          </section>
        </div>
        <!-- ここまでがプロフィール -->
        <!-- ここから -->
        <div class="content_box">
          <img src="../../img/content-image3.jpg" alt="メンバーのアイコン" />
          <section>
            <div class="member_box">
              <p>{$name}</p>
              <p>{$history}</p>
              <p>{$rp}</p>
              <p>{$os}</p>
              <p>{$comment}</p>
            </div>
          </section>
        </div>
        <!-- ここまでがプロフィール -->
        <!-- ここから -->
        <div class="content_box">
          <img src="../../img/content-image3.jpg" alt="メンバーのアイコン" />
          <section>
            <div class="member_box">
              <p>{$name}</p>
              <p>{$history}</p>
              <p>{$rp}</p>
              <p>{$os}</p>
              <p>{$comment}</p>
            </div>
          </section>
        </div>
        <!-- ここまでがプロフィール -->
      </div>
    </div>
  </div>
</div>
{include file="./../footer.html"}
